.footer {
  background-color: #dda815;
  color: white;
  display: flex;
  align-items: center;
  bottom: 0;
  margin: 0px !important;
  padding: 0px !important;
  height: 7vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
.copyright {
  margin-top: 0;
  cursor: pointer;
  text-align: center;
}
